* {
    font-family: 'Lato', sans-serif !important;
}
body {
    /* background-image: linear-gradient(rgb(53, 53, 53), rgb(0, 0, 0)); */
    background: rgb(44, 44, 44);
}
h1 {
    color: rgb(143, 143, 143);
}
img { 
    width: 290px;
    height: 190px;
}
.btn {
    margin: 5px;
}
.gif_div {
    float: left;
    margin: 20px;
    padding: 10px;
}
img:hover {
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



